@using GridMvc.Html
@using GridMvc.Sorting
@using BugTracker.Models
@model IEnumerable<ApplicationViewModel>

@{
    ViewBag.Title = "Список заявок";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<input type="hidden" id="activeRowsidebar" value="2" />
<div class="panel panel-primary" style="margin-top: 70px;">
    <div class="panel-heading  form-heading-text">
        <i class="fa fa-th-list fa-fw" aria-hidden="true"></i>&nbsp;&nbsp;Список заявок
    </div>

@Html.Grid(Model).Named("forbiddenUsers").Columns(columns =>
   {
       columns.Add(application => application.Caption).Titled("Тема");
       columns.Add(application => application.Annotation)
                                         .Titled("Комментарий пользователя")
                                         .Sortable(true)
                                         .Filterable(true)
                                         .SortInitialDirection(GridSortDirection.Ascending);
                                        // .RenderValueAs(user => application);
       //columns.Add(application => application.Type).Titled("Тип");
   }).WithPaging(3)
</div>