@using GridMvc.Html
@using GridMvc.Sorting
@using BugTracker.Models

@model IEnumerable<UserViewModel>

@helper CustomRenderingOfRole(ApplicationUser user)
{
@Html.DropDownListFor(role => user.Roles,
                       new SelectList(Enum.GetNames(typeof(UserRoles))),
                       new Dictionary<string, object>() {{"class", "form-control input-sm" } })
}


@{
    ViewBag.Title = "Панель администратора";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel  panel-primary" style="margin-top: 70px;">
    <div class="panel-heading  form-heading-text">
          <i class="fa fa-list-alt fa-fw" aria-hidden="true"></i>
           &nbsp;&nbsp;Неразрешённые пользователи
           <a href="#" class="btn btn-success pull-right" role="button">
               <i class="fa fa-plus-square fa-fw" aria-hidden="true"></i>&nbsp;Добавить
           </a>
    </div>
        @Html.Grid(Model).Named("forbiddenUsers").Columns(columns =>
   {
       columns.Add(user => user.Email).Titled("Электронная почта");
       columns.Add(user => user.LastName)
                                         .Titled("Пользователь")
                                         .Sortable(true)
                                         .Filterable(true)
                                         .SortInitialDirection(GridSortDirection.Ascending)
                                         .RenderValueAs(user => user.FirstName + " " + user.LastName);
       //columns.Add()
       //                            .Titled("Роль")
       //                            .Encoded(false)
       //                            .Sanitized(false)
       //                            .RenderValueAs(user => CustomRenderingOfRole(user));

   }).WithPaging(3)
</div>

    <div class="right-sidebar moveHide" id="right-sidebar">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="GridView"><i class='fa fa-window-close fa-2x' aria-hidden='true'></i><div>Неразрешённые пользователи</div></a></li>
            <li role="presentation"><a href="TaskList"><i class='fa fa-tasks fa-2x' aria-hidden='true'></i><div>Список заявок</div></a></li>
            <li role="presentation"><a href="GridView"><i class='fa fa-clock-o fa-2x' aria-hidden='true'></i><div>Необработанные заявки</div></a></li>
        </ul>
    </div>

<a href="#" title="Наверх" class="scroll scrollup"></a>
<a href="#" title="Вниз" class="scroll scrolldown"></a>