@using GridMvc.Html
@using GridMvc.Sorting
@using BugTracker.Models

@model IEnumerable<UserViewModel>

@helper CustomRenderingOfRole(UserViewModel user)
{
    <select name="user-role-select" size="1" data-user-id="@user.Id" class="form-control input-sm">
        <option disabled selected>Выбрать роль</option>
        @{
            string opt1 = string.Empty, opt2 = string.Empty, opt3 = string.Empty;
            if (user.Role == "moderator")
            {
                opt1 = "selected";
            }
            else if (user.Role == "worker")
            {
                opt2 = "selected";
            }
            else if (user.Role == "user")
            {
                opt3 = "selected";
            }
        }
        <option value="1" @opt1>Модератор</option>
        <option value="2" @opt2>Сотрудник</option>
        <option value="3" @opt3>Пользователь</option>
    </select>
}
@{
    ViewBag.Title = "Панель администратора";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary" style="margin-top: 70px;">
    <div class="panel-heading  form-heading-text">
        <i class="fa fa-list-alt fa-fw" aria-hidden="true"></i>
        &nbsp;&nbsp;Неразрешённые пользователи

    </div>
    @Html.Grid(Model).Named("forbiddenUsers").Columns(columns =>
   {
       columns.Add(user => user.Email).Titled("Электронная почта");
       columns.Add(user => user.LastName)
                                         .Titled("Пользователь")
                                         .Sortable(true)
                                         .Filterable(true)
                                         .SortInitialDirection(GridSortDirection.Ascending)
                                         .RenderValueAs(user => user.FirstName + " " + user.LastName);
       columns.Add().Titled("Роль")
                    .Encoded(false)
                    .Sanitized(false)
                    .RenderValueAs(user => CustomRenderingOfRole(user));
   }).WithPaging(3)
</div>

<div class="right-sidebar moveHide" id="right-sidebar">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="GridView"><i class='fa fa-window-close fa-2x' aria-hidden='true'></i><div>Неразрешённые пользователи</div></a></li>
        <li role="presentation"><a href="TaskList"><i class='fa fa-tasks fa-2x' aria-hidden='true'></i><div>Список заявок</div></a></li>
        <li role="presentation"><a href="GridView"><i class='fa fa-clock-o fa-2x' aria-hidden='true'></i><div>Необработанные заявки</div></a></li>
    </ul>
</div>

<a href="#" title="Наверх" class="scroll scrollup"></a>
<a href="#" title="Вниз" class="scroll scrolldown"></a>